@use "./resource/mixin.scss" as m;

#home {
  @include m.background;
  @include m.section;
  background-image: url(../assets/background/home-mob.webp);

  .container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  #home .container img {
    height: 55px;
  }
}
