@use "resource/var.scss" as v;
@use "resource/mixin.scss" as m;

#pag3 {
  @include m.section;
  text-align: center;

  .container {
    gap: 10%;

    #titulo {
      color: v.$azulEscuro;
    }
  }
}
