@use "../resource/var.scss" as v;
@use "../resource/mixin.scss" as m;

.formulario {
  @include m.flexCenter;
  justify-content: space-between;
  flex-direction: column;

  top: 90%;
  position: absolute;
  text-align: center;

  gap: 15px;
  height: 65%;
  width: 75%;
  padding-top: 10%;
  padding-bottom: 10%;

  backdrop-filter: blur(30px);
  border-radius: 10px;

  background-color: #eeeeee7d;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  input,
  select {
    background-color: #00000000;
    border: 0;
    width: 80%;
    color: v.$cinza;
    border-bottom: 1px solid v.$cinza;
    text-align: left;
    padding-bottom: 4%;

    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: v.$cinza;
    }
  }

  h2 {
    font-size: 120%;
    color: v.$azulEscuro;
  }
  p {
    font-size: 90%;
    color: v.$cinza;
  }
}
