@use "./var.scss" as v;

// Tamanho de tela
@mixin telaTotal {
  height: 100dvh;
  width: 100dvw;
}
@mixin tamTotal {
  height: 100%;
  width: 100%;
}

// Definições e posição
@mixin section {
  @include flexCenter;
  @include telaTotal;
  background-color: v.$branco;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// Botões
@mixin animacaoBtn {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(0.96);
  }
}
@mixin clickInv {
  &:active,
  &:hover,
  &:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: 0;
  }
}
